{"clj-kondo" {:linters {:unresolved-symbol {:level :off}}}

 "project-specs" [{
                   :project-path "project.clj"
                   :classpath-cmd ["lein" "classpath"]}]

 "macro-defs" {cljs-css-modules.macro/defstyle [{:element :declaration } :elements]}}
